* {
  margin: 0;
  padding: 0;
}

html {

  margin: 0;
  padding: 0;
}



#SplashScreen {
  display: flex;
  flex-direction: column;

  margin: 0px;
  background-color: lightgoldenrodyellow;
  color: #313639;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px;
  height: 1200px;
}

.logo {
  width: 300px;
}

#StartButton {
  width: 125px;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 10px;
  font-size: medium;
}

h1 {
  font-size: 24;
}

h2 {
  font-size: 16;
}

#gameCanvas {
  display: flex;
  flex-direction: column;

  margin: 0;

  background-color: #35654d;
  height: 1200px;
}

#playersButton {

  margin: 10px;
  
}

#player1Button {
  margin-right: 25px;
  margin-left: 20px;
  width: 125px;
  height: 40px;
  background-color: #bf9d39;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#player1Button:hover {
  background-color: #f3d164;
  color: darkgray;
}

#player2Button:active {
  background-color: #f3d164;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#player2Button {
  margin-right: 20px;
  width: 125px;
  height: 40px;
  background-color: #bf9d39;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#player2Button:hover {
  background-color: #f3d164;
  color: darkgray;
}
#player2Button:active {
  background-color: #f3d164;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#player1cardimage {
  margin: 50px;
    
}

#player2cardimage {
  margin: 50px;
  
}

#announcement {
  color:whitesmoke;
  margin-left: 20px;
  font-size: 32;


}

.logogreen {
  position: absolute;
  bottom: 5px;
  left: 25px;

}
